/*Banner Begin*/

body{
	margin:0px;
	padding: 0px;
	font-family: Arial;
	user-select: none;
	background-color: #f5f5f5;
}

:root{

	--radius:10px;
	--swiper-navigation-size: 40px;
	--swiper-navigation-top-offset: 50%;
	--swiper-navigation-sides-offset: 0px;
	--swiper-navigation-color: var(--swiper-theme-color);


	--swiper-pagination-color: var(--swiper-theme-color);
	--swiper-pagination-left: auto;
	--swiper-pagination-right: 8px;
	--swiper-pagination-bottom: 2px;
	--swiper-pagination-top: auto;
	--swiper-pagination-fraction-color: inherit;
	--swiper-pagination-progressbar-bg-color: rgba(0, 0, 0, 0.25);
	--swiper-pagination-progressbar-size: 4px;
	--swiper-pagination-bullet-size: 8px;
	--swiper-pagination-bullet-width: 8px;
	--swiper-pagination-bullet-height: 8px;
	--swiper-pagination-bullet-inactive-color: #000;
	--swiper-pagination-bullet-inactive-opacity: 0.2;
	--swiper-pagination-bullet-opacity: 1;
	--swiper-pagination-bullet-horizontal-gap: 4px;
	--swiper-pagination-bullet-vertical-gap: 6px;
	}


.banner{
	background-color: white;
	position: fixed;
	top:0px;
	width:100%;
	height:70px;
	z-index: 200;
}

.search-div{
	position:absolute;
	top:15px;
	margin-left:100px;
	width:234px;
	height: 32px;
	display: inline-block;
	border-style: solid;
	border-width: 1px;
	border-radius: var(--radius);
}

.search{

	width: 170px;
	height: 30px;
	border: none;
	outline: 0px;
	border-bottom-left-radius: var(--radius);
	border-top-left-radius: var(--radius);

}

.menu-option{

	font-size: 40px;
	margin:12px;
	display: none;
}

.btn{

	width: 60px;
	height: 30px;
	border: none;
	border-bottom-right-radius: var(--radius);
	border-top-right-radius: var(--radius);
	border-left-style: solid;
	border-width: 1px;

}

.logo{
	position:absolute;
	top:5px;
	left:10px;
	z-index: 1;
	display: block;

}

.menu-slide-area{
	height:100%;
	width:280px;
	background-color: lightgray;
	position: fixed;
	top:0px;
	left:-280px;
	z-index: 1000;
	transition: 0.5s;
}

.link-item-menu a{
	color: black;
	text-decoration: none;
}

.link-item-menu:hover a{
	width:99%;
	color:#1d8bf9;
	border-left-color: #1d8bf9;
	border-left-style: solid;
	border-left-width: 3px;
}

.link-item-menu:hover{
	border-left-color: #1d8bf9;
	border-left-style: solid;
	border-left-width: 3px;
}

.fa-xmark{
	font-size: 40px;
	margin: 10px;
}

.profile-info-menu{
	height: 100px;
	width:85%;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	border-radius: 5px;
	display: flex;
	flex-direction: row;
}

.class-appear-menu{

	transform: translateX(300px);
	left:-300px;
}

.fa-xmark{
	cursor: pointer;
}

.fa-bars{
	cursor: pointer;
}


.link-items-menu{
	width:85%;
	height: 298px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	margin-top:20px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	border-bottom:none;

}



.link-item-menu{
	cursor: pointer;
	font-weight: bold;
}



.logo img{

	border-radius:50%;
}

.profile-picture-banner img{

	border-radius:50%;
}

.profile-picture-home{
	width:50px;
	height: 50px;
	border-radius: 20%;
	margin: 20px;
	margin-right: 8px;
	margin-left: 8px;
	margin-top: 25px;
}

.profile-picture-home img{
	width:50px;
	height: 50px;
	border-radius: 20%;
	
}

.profile-name-job{
	font-size: 12px;
	margin-top:18px;
	font-weight: bold;

}

.profile-picture-banner{

	position: absolute;
	right: 30px;
	top:10px;
	height: 45px;
	border-radius: 50%;
	border-style: solid;
	border-width: 2px;
}

@media all and (max-width: 4420px){

	.logo{
		display: none;
		top:12px;

	}

	.menu-option{
		display: inline-block;
	}

	.search-div{
		margin-left: 20px;
	}

}

@media all and (max-width: 750px)
{
	

	.name-info{
		top:-250px;
		left:400px;
	}

	.container-photos{
		width:400px;
		height:300px;
	}
	
}

@media all and (max-width: 630px)
{
	.user-profile-picture{

		position: relative;
		width:140px;
		height:140px;
		border-style: solid;
		border-width: 2px;
		top:-70px;
		left:80px;
		border-radius: 50%;

	}

	.user-profile-picture img{

		width:140px;
		border-radius: 50%;

	}

	.big-picture{

		background-image: url("photos/mountains.png");
		user-select: none;
		background-repeat: no-repeat;
		background-size: cover;
		width:100%;
		height: 300px;
	}

	.name-info{
		top:-70px;
		left:120px;
	}

	.info-section{
		margin-top: 100px;
	}
	
}

@media all and (max-width: 490px)
{

	.name-info{
		top:-70px;
		left:60px;
	}
}

@media all and (max-width: 430px)
{

	.logo{
		display: none;
		top:12px;

	}


	.logo img{
		width:50px;
	}

	.search-div{
		margin-left:20px;
		top:18px;
	}

	.profile-picture-banner{
		display: none;
	}

	.profile-picture-banner img{
		width:40px;
	}

	.container-photos{
		width:300px;
		height:200px;
	}

}

@media all and (max-width: 330px)
{

	.logo{
		display: none;
		top:18px;
		left:1px;

	}

	.logo img{
		width:35px;
	}

	.search-div{
		margin-left:10px;
		top:18px;
	}

}

@media all and (max-width:310px)
{
	.search-div{
		width: 220px;
		margin-left: 0px;
	}
	.btn{

		width: 46px;
		font-size: 11px;
		height: 32px;
		position: absolute;

	}

	.menu-option{
		font-size: 34px;
		margin-left: 8px;
		margin-top: 16px;
	}


}

/* Banner end */

.user-results-container{
	margin-top: 100px;
	position: relative;
	display: flex;
	flex-direction: column;
}

.no-results
{
	width:80%;
	height:50vh;
	background-color: #f5f5f5;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	display: none;
}

.no-results h1{
	margin-top: 25%;
	font-size: 40px;
}

.user-result{
	position: relative;
	margin-top: 0px;
	margin-bottom: 40px;
	width:50%;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	background-color: whitesmoke;
	border-style: solid;
	border-radius: 5px;
}

.copyrigth-msg{

	position:relative;
	bottom:1px;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	width:100%;
	text-align: center;
}

.user-picture{
	position: absolute;
	top:25px;
	margin: 20px;
	width:100px;
	border-radius: 50%;
	display: inline-block;

}

.user-picture img{

	width:100px;
	height: 100px;
	border-radius: 50%;
	border-style: solid;
	border-color: black;
	border-width: 2px;

}

.user-profile-info{

	display: flex;
	flex-direction: row;
	gap:15px;
	position: absolute;
	bottom:20%;
	right:100px;
}


.user-name{
	position: absolute;
	width:60%;
	right:100px;
	top:0px;
	border-bottom: solid;
	border-bottom-color: gray;
	border-bottom-width: 1px;
	background-color: whitesmoke;
	display: inline-block;
}

.input-search-user1{
	margin-top: 0px;
	height: 40px;
	background-color: lightgray;
	width:100%;
	padding-top: 20px;
	padding-bottom: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

}

.search-button2{
	height: 32px;
	font-size: 16px;
	border-radius: 3px;
	border: none;
	cursor: pointer;
	background-color: #2e6dff;
	color:white;
}

.search-inputs-btn{
	align-items: center;
	display: flex;
	flex-direction: row;
	gap:10px;
}

.input-text-user{
	width:400px;
	height: 30px;
	font-size: 20px;
	border: none;
	border-radius: 5px;

}



/* Media for user-search*/



@media all and (max-width: 1200px)
{

	.user-name{
		right:20px;
	}

	.user-profile-info{
		right:20px;
	}

}

@media all and (max-width: 1000px)
{

	.user-profile-info{
		font-size: 12px;
	}

}

@media all and (max-width: 810px)
{

	.user-picture{
		position: absolute;
		top:25px;
		margin: 20px;
		width:70px;
		height: 70px;
		border-radius: 50%;
		display: inline-block;
		left:-10px;

	}


	
	.user-picture img{

		width:70px;
		height: 70px;
		border-radius: 50%;
		border-style: solid;
		border-color: black;

	}

	.user-result{
	height: 170px;
	width:80%;

	}

	.user-name{
		right:40px;
	}

}

@media all and (max-width: 530px)
{

	.input-text-user{
		width:200px;
		font-size: 15px;
	}

	.user-picture{
		position: absolute;
		top:-12px;
		margin: 20px;
		width:50px;
		height: 50px;
		border-radius: 50%;
		display: inline-block;
		left:-10px;

	}

	.user-picture img{

		width:50px;
		height: 50px;
		border-radius: 50%;
		border-style: solid;
		border-color: black;

	}

	.user-result{
		height: 140px;

	}

	.user-name{
		height: 40px;
		right:10px;
		font-size: 12px;
	}

	.user-profile-info{
		gap:10px;
	}

}

@media all and (max-width:343px)
{
	.user-profile-info{
		gap:8px;
		right:5px;
		font-size: 10px;
	}
	.user-result{
		height:120px;
	}

	.user-name{
		font-size: 9px;
	}

	.user-name p{
		margin-top:20px;
	}
	.search-inputs-btn{

	gap:5px;
	}
	.input-text-user{
	width:170px;
	height: 30px;
	font-size: 15px;

	}

}
